:root {
    --primary-color: #1240B5; /* Couleur principale */
    --white-color: #f8f8f8; /* Blanc */
    --black-color: #303030; /* Noir */
    --border-radius: 0.5em; /* Rayon des bordures */
}

body {
    background-color: var(--secondary-color);
    color: #303030;
    margin:0;
    padding:0;
    font-family: "Inter", serif;
    font-size: 15px;
    h3 {
        font-size:1.8em;
        margin:0;
    }
}

header {
    nav{
        
        display: flex;
        justify-content: space-between;
        p {
            color: var(--primary-color);
        }
        div {
            display:flex;
            margin-right: 1.3em;
            flex-direction: row;
            gap:2em;
            align-items: center;
            .button {
                p {
                    color:var(--white-color);
                }
            }
        }
        img{
            width: 13.3em;
            height: 3.3em;
            padding: 0.6em;
        }
    }
}
a{
    text-decoration: none;
    color:white;
}

.button{
    display:block;
    text-align: center;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--white-color);
    text-decoration: none;
    padding:0.6em 1em;
    p {
        margin:0;
    }
}

.button:hover {
    transform: scale(1.05);
    transition-duration: 300ms;
}

#hero-section{
    background-image: url("medias/voiture-header.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 120vh;
    max-height:64vw;
    div {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white-color);
        h1 {
            font-size: 4em;
            margin:0;
        }
        h2 {
            font-size: 1.5em;
        }
        .button {
            margin-top: 1.3em;
            font-size: 1.1em;
        }
    }
}

#vehicules, #tuto, #avisclients {
    width:100%;
    padding-top:3.3em;
    padding-bottom:3.3em;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
        text-align: center;
        p, h3 {
            margin:0;
            max-width:46.6em;
        }
        .cards {
            list-style: none;
            display:flex;
            flex-direction:row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 2em;
            padding:0;
            .card {
                width: 20em;
                background-color: var(--secondary-color);
                border-radius: var(--border-radius);
                box-shadow: 0 3px 0.6em rgba(0, 0, 0, 0.285);
                ul {
                    padding: 0;
                    list-style: none;
                    height:80%;
                    width:80%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding:10%;
                    gap:1.3em;
                    .img-vehicule {
                        max-width: 13.3em;
                    }
                    .img-tuto {
                        max-width: 6.6em;
                    }
                    .img-avis {
                        max-width: 8.6em;
                        border: 1px solid #303030;
                        border-radius: 13.3em;
                    }
                    p {
                        margin:0;
                    }
                    .nom-vehicule {
                        font-weight: bold;
                        font-size:1.1em;
                    }
                    .nom {
                        font-weight: bold;
                        font-size:1.1em;
                        color: var(--primary-color);
                    }
                    .star {
                        max-width:10em;
                    }
                }
            }
        }
    }
}

#fonctionnalites{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.3em;
    padding-top: 3.3em;
    background-color: #F8F8F8;
    
    #section{
        display: flex;
        justify-content: space-evenly;
        gap: 6.6em;
        img{
            max-width: 13.3em;
        }
    }
    #cta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p{
            max-width: 30em;
        }
    }
    li{
        list-style: none;
    }
    .button {
        font-size: 1.1em;
    }
}


#partenaires{
    width:100%;
    text-align:center;
    padding-bottom: 3.3em;
    padding-top: 3.3em;
    div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 4.6em;
        padding-top: 1.6em;
    }
    img{
        width: 2.6em;
        height: 2.6em;
    }
}

footer{
    width: 100%;
    background-color: #4d74d7;
    color: white;
    display: flex;
    justify-content: space-around;
    padding-bottom: 3.3em;
    padding-top: 3.3em;
    form{
        display: flex;
        flex-direction: column;
    }
    a{
        img{
            width: 2.6em;
            height: 2.6em;
        }
    }
    a:hover {
        img {
            transform: scale(1.05);
            transition-duration: 400ms;
        }
    }
    p{
        width: 100px;
    }
    #formulaire{
        display: flex;
        flex-direction: column;
        width: 100px;
        
        button {
            background-color: black;
            margin-top: 1em;
            border: none;
            font-size:0.7em;
            border-radius: var(--border-radius);
            color:var(--white-color);
            padding:10px;
        }
        button:hover {
            transform: scale(1.05);
            transition-duration: 400ms;
        }
        form{
            gap: 1em;
        }
    }
    ol{
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        gap: 0.6em;
    }
}
#avisclients{
    background-color: #F8F8F8;
}


@media (min-width:1800px) {
    body {
        font-size: 20px;
    }
}

@media (max-width:1800px) {
    body {
        font-size: 19px;
    }
}

@media (max-width:1650px) {
    body {
        font-size: 18px;
    }
}

@media (max-width:1500px) {
    body {
        font-size: 17px;
    }
}

@media (max-width:1350px) {
    body {
        font-size: 16px;
    }
}

@media (max-width:1200px) {
    body {
        font-size: 15px;
    }
}

@media (max-width:1050px) {
    body {
        font-size: 14px;
    }
}

@media (max-width:900px) {
    body {
        font-size: 13px;
    }
}

@media (max-width:750px) {
    body {
        font-size: 12px;
    }
}


/* DOCUMENTATION */

#introduction, #qui, #pourquoi, #comment, #avecquoi, #quoi, #ensuite{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 0;
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    gap: 20px;
    p{
        width: 400px;
    }
}

#titre{
    display: flex;
    justify-content: center;
    color: #1240B5;
}
#introduction{
    padding-bottom:50px;
    padding-top: 0;
    h3 {
        margin-top: 50px;
    }
    
    .background{
        position: absolute;
        transform: rotate(180deg);
        background-image: url("medias/bleu1.png");
        width: 100%;
        min-height: 600px;
        z-index: -100;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
    }
}

#qui{
    background-image: url("medias/bleu2et5.png");
}
#pourquoi{
    background-image: url("medias/bleu6.png");
}
#comment{
    background-image: url("medias/bleu4.png");
    color: white;
}
#avecquoi{
    background-image: url("medias/bleu2et5.png");
}
#quoi{
    background-image: url("medias/bleu6.png");
}
#ensuite{
    padding: 0;
    .background{
        position: absolute;
        transform: rotate(180deg);
        background-image: url("medias/bleu3et7.png");
        width: 100%;
        min-height: 400px;
        z-index: -100;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100vw;
    }
}
